<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425387170359-e7hjfkl01ind9rni03mccf0akbgog649.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425387170359-e7hjfkl01ind9rni03mccf0akbgog649</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>425387170359-0g3fsskpvnt2j061f2kpri0lc695eapq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6pz2pefll7gsuuip0yA2_s87Y4EuhSj0</string>
	<key>GCM_SENDER_ID</key>
	<string>425387170359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vedaNidhiV2</string>
	<key>PROJECT_ID</key>
	<string>veda-nidhi</string>
	<key>STORAGE_BUCKET</key>
	<string>veda-nidhi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425387170359:ios:93d5f59100f3a86ee2fdb2</string>
</dict>
</plist>